@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
    font-family: 'Pretendard', sans-serif; 
    font-size: 12px; 
    background-color: #fff; 
    color: #101010; 
    text-transform: lowercase; 
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
}

input, textarea, select, button {
    font-family: 'Pretendard', sans-serif;
    font-size: 12px;
    letter-spacing: -0.02em;
}

.hidden { display: none !important; }